*{
    margin: 0;
    padding: 0;
}

@import

header a{
    color: white;
    text-decoration: none;
}

.cabecalho{
    background-color: #011c47;
    color: white;
    display: flex;
    justify-content: space-around;
    aling-itens: center;
    padding: 0px;
}

.cabecalho-lista-item{
    display: inither block;
    margin: 0 10px;
}
.estudante-imagem{
    width: 100px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

MATEUS COLOCAR MAIS COISAS AQUI

@media (max-width: 768px) {
    .cabecalho{
        flex-direction: column;
        text-aling: center;
    }

    .cabecalho-lista-item{
        display: block;
        margin: 8px 0;
    }

    .escola{
        flex-direction: column;
        text-align: center;
        padding: 16px;
    }

    .escola-imagem {
        width: 80%;
        margin-top: 16px;
    }

    .escola-conteudo {
        width: 100%;
    }

    .estudante-todos {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 0 16px;
    }
}
