*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #011c47;
    color: white;
    display: flex;
    justify-content: space-around;
    aling-itens: center;
    padding: 0px;
}

.cabecalho-lista-item{
    display: inither block;
    margin: 0 10px;
}
.estudante-imagem{
    width: 100px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
