*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #011c47;
    color: white;
    display: flex;
    justify-content: space-around;
}

.estudante-imagem{
    width: 100px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}